<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'WishList/css/style.css' %}">
  </head>
  <body>
    <div class="wrapper">
      <div class="main">
        <div class="head">
          <div class="logo">
            <h1>{{ title }}</h1>
          </div>
          <div class="login">
            {% if request.session.user_id %}
            Welcome {{ first_name }}
            <a href="{% url 'WishList:index' %}">Home</a> <a href="{% url 'WishList:logOut' %}">Log Out</a>
            {% else %}
            <a href="{% url 'WishList:login' %}">log In</a> <a href="{% url 'WishList:register' %}">Register</a>
            {% endif %}
          </div>
        </div>
        <div class="clear"></div>
        <div class="content">
          {% for wish in wishs %}
          <h2>{{ wish.title }}</h2>
          {{ wish.title }}
          {{ wish.wish }}
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>
